<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="MyDatabaseConnectionString"
         connectionString="Data Source=.\ClickBar_SSMS;Initial Catalog=ClickBar_DB;User ID=sa;Password=Jajajaja95!"
         providerName="System.Data.SqlClient" />
    <add name="MasterDatabaseConnectionString"
         connectionString="Data Source=.\ClickBar_SSMS;Initial Catalog=master;User ID=sa;Password=Jajajaja95!"
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>